<launch>
    <include file="$(find bobac2_audio)/launch/voice_collect.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_awake.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_aiui.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_tts.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_nav.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_control.launch"/>
    <include file="$(find bobac2_audio)/launch/voice_mode.launch"/>

    <node name="voice_interacion" pkg="bobac2_audio" type="voice_interaction_node" output="screen"/>
</launch>
